#wrapper {
   margin-left: auto;
   margin-right: auto;
   width: 800px;
}

#header {
   background: #ececec;
   border: 1px dashed #cccccc;
   margin-bottom: 15px;
   text-align: center;
}

#menu {
   background: #ececec;
   border: 1px dashed #cccccc;
   float: left;
   width: 12em;
}

#content {
   background: #ececec;
   border: 1px dashed #cccccc;
   margin: 0 0 0 13em;
}

#footer {
   background: #ececec;
   border: 1px dashed #cccccc;
   clear: left;
   height: 50px;
   margin-top: 15px;
   text-align: center;
}

div.bowlPick {
   background: #ececec;
   border: 1px dashed #cccccc;
   margin-bottom: 15px;
   padding: 5px;
}

#feedback { font-size: 1.4em; }
.pickList .ui-selecting { background: #FECA40; }
.pickList .ui-selected { background: #F39814; color: white; }
.pickList { list-style-type: none; margin: 0; padding: 0; }
.pickList li { margin: 3px; padding: 0.4em; font-size: 1em; height: 18px; }

div.teamBox {
   background: #ffffff;
   border: 1px solid #efefef;
   display: block;
   margin: 5px;
   vertical-align: middle;
   width: 250px;
   }

div.winnerBox {
   background: #0000ff;
   clear: left;
   float: right;
   min-height: 50px;
   min-width: 250px;
   }

li.liRank {
   display: list-item;
   }
