<h1>Bowls</h1>
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Select Season <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="season in seasons | orderByPriority"><a
                ng-click="setCurrentSeason(season)">{{season.$id}}</a>
        </li>
    </ul>
</div>
<hr/>
<div class="well">

    <div ng-show="currentSeason">
        <h3>{{currentSeason.$id}} Season</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Bowl</th>
                <th>Date/Time</th>
                <th>Location</th>
                <th>Team 1</th>
                <th>Team 2</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="bowl in bowls | orderByPriority">
                <td>{{bowl.name}}</td>
                <td>{{bowl.date | date : 'medium'}}</td>
                <td>{{bowl.location}}</td>
                <td>{{bowl.team1}}</td>
                <td>{{bowl.team2}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>