<h1>Bowls</h1>
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Select Season <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="season in seasons | orderByPriority"><a
                    ng-click="setCurrentSeason(season)">{{season.$id}}</a>
            </li>
        </ul>
    </div>
</div>
<hr/>
<div class="well">
    <div ng-show="currentSeason">
        <h3>{{currentSeason.$id}} Season</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Bowl</th>
                <th>Date/Time (EST)</th>
                <th>Location</th>
                <th>Team 1</th>
                <th>Team 2</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="bowl in bowls | orderByPriority">
                <!--<td>{{bowl.name}}</td>-->
                <td>{{bowl.name}} <a ng-click="edit(bowl)" bpm-show-admin><i class="fa fa-pencil"></i></a></td>
                <td>{{bowl.date | date : 'mediumDate'}}<br />{{bowl.date | date : 'mediumTime'}}</td>
                <td>{{bowl.location}}</td>
                <td><img class="img-rounded img-responsive" src="{{teams[bowl.team1].logoPath}}"><br />{{teams[bowl.team1].name}}</td>
                <td><img class="img-rounded img-responsive" src="{{teams[bowl.team2].logoPath}}"><br />{{teams[bowl.team2].name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>