<div class="jumbotron" ng-controller="HomeCtrl">
    <!--<span class="glyphicon glyphicon-flash"></span>-->
    <!--<p><i class="fa fa-bolt bpm-icon bpm-icon-outline bpm-icon-lg"></i></p>-->
    <h1><i class="fa fa-trophy fa-6"></i> bowl pool manager</h1>
    <p class="lead">The best damn NCAA football bowl competition system ever built by man</p>
    <p ng-hide="auth.user">Get started by <a href="#/login">logging in</a>!</p>
    <a href="#/pools" ng-show-auth="login"><button type="button" class="btn btn-primary btn-lg">Get started</button></a>
</div>