<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{pool.name}}</h2>
    </div>
    <div class="panel-body">
        <form name="poolForm" class="form-horizontal" ng-controller="PoolCtrl">
            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input type="text" name="name" id="name" ng-model="pool.name" class="form-control" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="id">Id</label>
                <div class="controls">
                    <input type="text" name="id" id="id" ng-model="pool.$id" class="form-control" disabled>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer" ng-show="isManager">
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" ng-click="save()">Save</button>
                <button class="btn btn-danger" ng-click="delete()">Delete</button>
            </div>
        </div>

    </div>
</div>