<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <fieldset>
                <h3>Please Sign In</a></h3>
                <hr class="colorgraph">
                <div class="form-group">
                    <input type="email" ng-model="player.email" class="form-control" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input type="password" ng-model="player.password" class="form-control" placeholder="Password">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="remember"> Remember me
                    </label>
                    <a ng-click="resetPassword()" class="pull-right">Forgot Password?</a>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <button type="button" class="btn btn-success btn-block" ng-click="signIn()">Sign In</button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary btn-block" href="#/register"">Register</a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>