<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>CommandBroker</servlet-name>
		<servlet-class>org.bibeault.frontman.CommandBroker</servlet-class>
		<init-param>
			<param-name>commandsPath</param-name>
			<param-value>com.mierdasoft.bowlpoolmanager.controller</param-value>
		</init-param>
		<init-param>
			<param-name>viewsPath</param-name>
			<param-value>/WEB-INF/pages</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CommandBroker</servlet-name>
		<url-pattern>/command/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>command/Welcome</welcome-file>
	</welcome-file-list>

	<context-param>
		<description>The base URL of the site.</description>
		<param-name>site.url</param-name>
		<param-value>http://localhost:8888</param-value>
	</context-param>

	<context-param>
		<description>The path to the site style sheet.</description>
		<param-name>site.css</param-name>
		<param-value>style.css</param-value>
	</context-param>

	<context-param>
		<description>The path to the jquery library.</description>
		<param-name>site.jquery</param-name>
		<param-value>js/jquery-1.6.2.min.js</param-value>
	</context-param>

	<context-param>
		<description>The path to the jquery-ui library.</description>
		<param-name>site.jquery-ui</param-name>
		<param-value>js/jquery-ui.1.8.16.custom.min.js</param-value>
	</context-param>
</web-app>
